.no-bg-color{
  background: rgba(0, 0, 0, 0.0);
}
.circle-img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.text-right{
  text-align: right !important;
}
.img{
  border: 0px !important;
  box-shadow: 0px !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.marked{
  color:#E08700 !important;
}
